*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: linear-gradient(to right,rgb(82, 10, 64) 20%,rgb(66, 11, 110) 80%);
    opacity: 0.8;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clock{
    height: 60%;
    width: 40%;
    background-color: rgb(199, 156, 113);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgb(26, 24, 24);
}
.clock h1{
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 600;
}